/* Bootstrap's styles customization
-------------------------------------------------- */
.display-4 {
    color: #3498DB;
    /* font-style: oblique; */
}


th, td {
    text-align: center;
}

th {
    cursor: pointer;
}
